
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

/* text */
.text{
    font-size: 32px;
    font-weight: 600;
}

/* line */
.underline{
    width: 61px;
    height: 6px;
    background: #858B95;
    border-radius: 9px;
}
/* inpit */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 4%;
    width: 40%;
    height: auto;
    min-width: 300px;

    border-radius: 40px;
}

.inputs {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    height: 80px;
    border-radius: 20px;
    padding: 10px;
}

.input img {
    margin: 0 30px;
    width: 24px;
}

.login__input {
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #121111;
    font-size: 20px;
    flex: 1;
}

.forgot__password {
    text-align: right;
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
}







.forgot__password:hover{
    transform: scale(1.06);
}

.forgot__password span:hover{
    color: #4c00b4;
    
}


/* button */
.submit__container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 2rem;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 200px;
    border: 1px solid #858B95;
    border-radius: 50px;
    box-shadow: 0px 0px 40px 25px rgba(30, 165, 231, 0.15);
    cursor: pointer;
    transition: transform 0.5s ease-in-out ,color 0.4s ease-in-out;
    background: #3c9dce;
    color: #FFF;
}
.submit:hover{
    transform: scale(1.04);
}

.lg{
    box-shadow:none;
    background: #FFF;
    color: #121111;
}
